<div id="background">
    <p-toast position="top-right"></p-toast>
    <div class="shadow">
    <img src="../../../../assets/img/datapar-logo.png" alt="" class="center" srcset="">
    </div>
    <div id="panelExterno">
        <p-card [style]="{width:'100%', heigh:'100%'}" header="FLOTA DE VEHICULOS">
            <div id="imgLogin">
                <img src="" alt="">
            </div>
            <hr>
            <div id="panelInterno">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input id="inputUsername"
                    type="text"
                    pInputText placeholder="Ingrese su usuario"
                    (blur)="user.login = getValue($event)"
                    (keyup.enter)="focusPassword()">         
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input id="inputPassword"
                    type="password"
                    pInputText placeholder="Contraseña"
                    (blur)="user.password = getValue($event)"
                    (keyup.enter)="focusBtnEnter()">         
                </div>
                <button pButton id="btnEnter" label="Continuar" (click)="login()"></button>
            </div>
        </p-card>  
    </div>
</div>